<h1>{{title}}</h1>
<ol class="articles">
	{{#each _embedded.fs:entries}}
	<li>
		{{> includes/article-summary.hbs (extend this (expandCuri @root "fs:entries"))}}
	</li>
	{{/each}}
	{{#each _links.fs:entries}}
	<li>{{hal-link "fs:entries" this}}{{#if date-created}} - {{datetime date-created 'MMMM D, YYYY'}}{{/if}}</li>
	{{/each}}
</ol>
