<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{{#if name}}{{name}} | {{/if}}{{_site.name}}</title>
	</head>
	<body class="{{join (map-pick 'href' (getTypes this)) " "}}">
		<main>
			{{#> layouts/default.hbs }}
				<!-- no layout found -->
			{{/ layouts/default.hbs }}
		</main>
	</body>
</html>
