<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{{#if title}}{{title}} | {{/if}}{{_site.title}}</title>
		<meta name="viewport" content="width=device-width">

		{{#> includes/head.hbs }}
			<!-- no head.hbs found -->
		{{/ includes/head.hbs }}
	</head>
	<body>
		<script>
			window.hypermediumResource = {{ json-stringify this }};
		</script>
		{{#> includes/header.hbs }}
			<!-- no header.hbs found -->
		{{/ includes/header.hbs }}
		<main>
			{{#> (lookup _site 'layout') }}
				{{#> layouts/default.hbs }}
					<!-- no layout found -->
				{{/ layouts/default.hbs }}
			{{/ undefined }}
		</main>
		{{#> includes/footer.hbs }}
			<!-- no footer.hbs found -->
		{{/ includes/footer.hbs }}
	</body>
</html>
