<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{{#if title}}{{title}} | {{/if}}{{_site.title}}</title>
	</head>
	<body>
		<main>
			{{#> layouts/default.hbs }}
				<!-- no layout found -->
			{{/ layouts/default.hbs }}
		</main>
	</body>
</html>
