@import 'sanitize.css/sanitize';
@import 'theming';

$foreground-light: white;
$foreground-dark: black;

$background-base: #99FFA2;
$background-light: #66CCA8;
$background-dark: #1F996E;
$background-accent-light: #FFD9F9;
$background-accent-dark: #B866CC;

$mat-fresh-green: (
	300: #81ffa8,
	500: #43ea78,
	700: #00b649,
	contrast: (
		50: $black-87-opacity,
		100: $black-87-opacity,
		200: $black-87-opacity,
		300: $black-87-opacity,
		400: $black-87-opacity,
		500: $black-87-opacity,
		600: $black-87-opacity,
		700: $black-87-opacity,
		800: $white-87-opacity,
		900: $white-87-opacity,
		A100: $black-87-opacity,
		A200: $black-87-opacity,
		A400: $black-87-opacity,
		A700: $black-87-opacity,
	)
);

$theme: mat-light-theme(
mat-palette($mat-fresh-green, 500, 300, 700),
mat-palette($mat-yellow),
mat-palette($mat-red));

$theme-primary: map-get($theme, primary);
$theme-accent: map-get($theme, accent);
$theme-warn: map-get($theme, warn);
$theme-foreground: map-get($theme, foreground);
$theme-background: map-get($theme, background);

$color-error: mat-color($mat-red, 500);
$color-warn: mat-color($mat-yellow, 500);
$color-success: mat-color($mat-fresh-green, 500);

// $color-success: green;
// $color-warn: yellow;
// $color-error: red;

html {
	height: 100%;
}

body {
	background: $background-base;
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header {
	background: $background-dark;
	color: $foreground-light;
	padding: 30px 0;

	a {
		color: $foreground-light;
	}

	.container {
		display: grid;
		grid-template-columns: max-content auto max-content;
	}

	nav {
	}


}

.page-content {
	padding: 30px 0;
}

footer {
	grid-row-start: 3;
	grid-row-end: 4;

	background: $background-dark;
	color: $foreground-light;
	padding: 30px 0;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@media(min-width: 576px) {
		max-width: 540px;
	}

	@media(min-width: 768px) {
	max-width: 720px;
	}

	@media(min-width: 992px) {
		max-width: 960px;
	}
}

.card {
	margin: 10px;
	/*border: 2px solid map-get($theme-foreground, text);*/
	/*border-right: 2px solid map-get($theme-foreground, text);*/
	.card-title {
		/*border-top: 2px solid map-get($theme-foreground, text);*/
		/*border-bottom: 2px solid map-get($theme-foreground, text);*/
		/*border: $primary-border-style;*/
		/*border-bottom: none;*/
		/*border-top-left-radius: 5px;*/
		/*border-top-right-radius: 5px;*/
		/*transform: skewY(5deg);*/
		/*transform-origin: top left;*/
		width: 100%;
		margin: 0;
		color: mat-color($theme-primary, default-contrast);
		background: mat-color($theme-primary, default);
		padding: 5px 15px;;

	}
	.card-body {
		margin: 0 auto;
		color: mat-color($theme-primary, lighter-contrast);
		background: mat-color($theme-primary, lighter);
		padding: 3px;
		/*border: $primary-border-style;*/
		/*border-top: none;*/
		/*border-bottom-left-radius: 5px;*/
		/*border-bottom-right-radius: 5px;*/
	}

	ul {
		margin: 0;
	}
	.fields {
	}
}

.collapser {
	/*background: map-get($theme-background, disabled-button);*/
	background: none;
	border: none;
	float: right;

	&:hover {
		background: map-get($theme-background, focused-button);
	}

	&:after {
		content: "–";
	}
	.collapsed &:after {
		content: "+";
	}
}

.collapsed>.collapser-target {
	height: 0;
	overflow-y: hidden;
}

$task-col-width: 300px;
$task-card-height: 60px;
$task-result-border-width: 15px;

.task-display {
	display: flex;
	flex-direction: row;

	.task-col {
		width: $task-col-width;
		background: $black-6-opacity;
	}

	.task {
		margin: 0;
		.card {
			position: relative;
			margin: 0;
			width: 250px;
			height: $task-card-height;

			&:before {
				content: "";
				position: absolute;
				width: $task-col-width + $task-result-border-width;
				height: $task-card-height;
				left: -$task-result-border-width;
				border-left: $task-result-border-width solid map-get($theme-foreground, divider);
			}
			&.success:before {
				border-left: $task-result-border-width solid $color-success
			}
			&.warn:before {
				border-left: $task-result-border-width solid $color-warn
			}
			&.error:before {
				border-left: $task-result-border-width solid $color-error
			}

			border-bottom: 5px solid $black-12-opacity;
			background: map-get($theme-background, card);
		}
		&>.tasks {
			margin: 0;
			padding-left: $task-result-border-width;
			list-style-type: none;
		}
	}

	.log-display {
		min-height: 400px;
		color: mat-color($theme-primary, lighter-contrast);
		background: mat-color($theme-primary, lighter);

		.logs {
			list-style-type: none;
		}
	}

	.files {
		margin: 0;
		padding-left: 0;
		list-style-type: none;
	}

	.task-file {
		display: flex;
		justify-content: space-between;

		ul {
			margin: 0;
			padding-left: 2px;
			list-style-type: none;
		}

		.inputs {
			padding: 2px;
			flex-grow: 1;
			flex-basis: 0;
			border: 1px solid black;
		}

		.divider {
			flex-grow: 0;
			align-self: center;
		}

		.outputs {
			flex-grow: 1;
			flex-basis: 0;
			border: 1px solid black;
		}
	}
}

.file-explorer-display {
	.file-explorer {
		.path {

			margin: 0;

			.directories {
				display: inline-block;
				//display: flex;
				//flex-direction: row;
				list-style-type: none;
				padding-left: 0;
				margin: 0;
				.up-directory-button {
					padding-left: 3px;
					padding-right: 3px;
					i {
						line-height: 0;
						transform: translateY(6px);
					}
				}
				button:last-of-type {
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
				}
				//li {
					//display: inline-block;
					//margin: 0;
				//}
			}
		}

		.entries {
			margin: 0;
			padding-left: 0;
			background: $black-6-opacity;
			list-style-type: none;
			li {
				i {
					color: mat-color($theme-accent, darker);
				}
				.card {
					position: relative;
					margin: 0;
					width: 250px;
					height: 30px;
					background: map-get($theme-background, card);
					border-bottom: 2px solid $black-12-opacity;

					&.selected {
						color: mat-color($theme-primary, lighter-contrast);
						background: mat-color($theme-primary, lighter);
					}
				}
				button {
				}
			}
		}
	}
}

