@import 'sanitize.css/sanitize';

$foreground-light: white;
$foreground-dark: black;

$background-base: #99FFA2;
$background-light: #66CCA8;
$background-dark: #1F996E;
$background-accent-light: #FFD9F9;
$background-accent-dark: #B866CC;

html {
	height: 100%;
}

body {
	background: $background-base;
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header {
	background: $background-dark;
	color: $foreground-light;
	padding: 30px 0;

	a {
		color: $foreground-light;
	}

	.container {
		display: grid;
		grid-template-columns: max-content auto max-content;
	}

	nav {
	}


}

.page-content {
	padding: 30px 0;
}

footer {
	grid-row-start: 3;
	grid-row-end: 4;

	background: $background-dark;
	color: $foreground-light;
	padding: 30px 0;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@media(min-width: 576px) {
		max-width: 540px;
	}

	@media(min-width: 768px) {
	max-width: 720px;
	}

	@media(min-width: 992px) {
		max-width: 960px;
	}
}

#resource-graph {
	display: block;
	width: 100%;
	height: 100%;
}

dl {
	dt {
		font-weight: bold;
	}
	dd {
	}
}
