<h1>{{coalesce headline name}}</h1>
<ol class="items articles">
	{{#each _links.item}}
		{{#embedded ../this this "item"}}
			<li>
				{{> includes/article-summary.hbs}}
			</li>
		{{else}}
			<li>{{hal-link "item" this}}</li>
		{{/embedded}}
	{{/each}}
</ol>
