<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{{#if title}}{{title}} | {{/if}}{{_site.title}}</title>
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/css/freshr.css">
	</head>
	<body>
		<script>
			window.freshrResource = {{ json-stringify this }};
		</script>
		{{> includes/header.hbs }}
		<div class="page-content">
			{{#> (lookup _site 'layout') }}
				{{#> core/layouts/default.hbs }}
					<!-- no layout found -->
				{{/ core/layouts/default.hbs }}
			{{/ undefined }}
		</div>
		{{> includes/footer.hbs }}
	</body>
</html>
